body{
    background-image: url(Images/LoginFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

form{
    background-color: rgba(0, -0, -0, -1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 38px 1px rgba(0, 0, 0, 0.558);
    margin-top: 30px;
    margin-bottom: 40px;
}
